


/*============================
Base Element Styles
=============================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,500i&display=swap');

* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    
}


a {
    color: black;
    text-decoration: none;
}

/*============================
Base Layout Styles
=============================*/

/*-----Navigation-------*/



.main-nav li {
    font: 200 1.5rem/.9 'Roboto', helvetica, arial, sans-serif;   
    text-align: center;
    background: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* -----Layout Containers----- */

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
    background:#FF9933;
    padding: 1em 0;
}

.main-footer {
    background:#FF9933;
    padding: 2em 0; /* 32px padding top/bottom 8 */
    text-align: right;
}

/*============================
Media Queries
=============================*/

@media(min-width: 480px){

    .wrap {
        min-height: 100vh;
    }
    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }


    .main-nav, 
    .main-nav li {
        display: inline;
        margin-right: 40px;
        text-align: center;
    }

}















/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,500i&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 480px;
    
}

.main-header {

    font:500 0.875rem 'Roboto', helvetica, arial, sans-serif; /* 12px */
    /*height: 300px;
    border: solid red 2px;
    width: 75%;
}



.main-nav li {
    
    display: inline-block;
    /*padding: 0 10px;
    margin: 20px 50px;
    border: solid red 2px;
    border-right: solid black 1px;
}

.logo {
    width: 200px;
    border: solid red 2px;
}

.create img {
   margin-bottom: 1.625rem; /* 26px
}
.create p {
    color: white;
    background-color: #434a52;
    padding: 10% 12%;
    border-top: 5px solid rgb(219, 24, 236);
}

a:link {
    color: #ffa949;
    text-decoration: none;
}

a:hover {
    color:rgba(255, 169, 73, .4);
}

*/



