@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,500i&display=swap');

header {
    background-color: #02e6ee;
    font: 500 normal 2rem 'Roboto', helvetica, arial, sans-serif;
    color: white;
}

header p {
    font: 200 normal 1.5rem 'Roboto', helvetica, arial, sans-serif;
    color: white;
}

header nav{

    font: 300 normal 1.5rem 'Roboto', helvetica, arial, sans-serif;
    color: #ee0a02;

}
